In [1]:
%load_ext beam_setup

Setting up the Beam environment for interactive use
Standard modules will be automatically imported so you can use them without explicit import
Done importing packages. It took:  3.2 seconds
Beam library is loaded from path: /home/elad/docker/beamds/src/beam
The Beam version is: 2.3.7

In [2]:
import yfinance as yf

msft = yf.Ticker("MSFT")

# get all stock info
msft.info

# get historical market data
hist = msft.history(period="1mo")

In [3]:
def ticker_history(ticker, period):
    """
    Get historical stock market data
    """
    ticker = yf.Ticker(ticker.upper())
    return ticker.history(period=period)

In [4]:
from beam.llm import LLMTool, LLMToolProperty

UserWarning: A newer version of deeplake (3.8.11) is available. It's recommended that you update to the latest version using `pip install -U deeplake`.

In [5]:
ticker = LLMToolProperty('ticker', 'str', 'The ticker of the stock (should be upper cased)', required=True)
period = LLMToolProperty('period', 'str', 'The historical period to get data for, in the form [1mo, 2mo, 10d, 2y, etc..]', required=True)

In [6]:
tool = LLMTool(func=ticker_history, ticker=ticker, period=period)

In [7]:
llm = resource('openai:///gpt-4')

In [8]:
llm.add_tool(tool)

In [9]:
res = llm.ask('give me the last two month stock data of broadcom')

In [13]:
tool(res).response.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2023-10-12 00:00:00-04:00,876.429993,917.929993,876.429993,905.599976,4387100,0.0,0.0
2023-10-13 00:00:00-04:00,909.000000,925.909973,882.090027,883.179993,2831200,0.0,0.0
2023-10-16 00:00:00-04:00,890.969971,915.789978,890.969971,902.570007,2115000,0.0,0.0
2023-10-17 00:00:00-04:00,885.150024,892.979980,866.000000,884.400024,3300800,0.0,0.0
2023-10-18 00:00:00-04:00,879.950012,895.630005,875.200012,887.030029,2040400,0.0,0.0

In [14]:
from beam.llm import LLMTask

In [15]:
task = LLMTask('random_names_generator', system='you like names that start with R', 
               description='Generate a list of random names for babies', 
               input_kwargs={'num': 'number of names to generate', 'geneder': 'either boy or girl'}, output_kwargs={'res': 'a list of generated names'},
               llm='openai:///gpt-4')

In [16]:
task(num=3, gender='boy')

{'res': ['Robert', 'Richard', 'Ronald']}

In [17]:
task(num=4, gender='girl')

{'res': ['Rachel', 'Rebecca', 'Rosalie', 'Ruth']}